#skills {
  height: 30vh;
}

.container.skills__container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide > div {
  margin: 0 15px;
}

.skill__image {
  border: 0.4rem solid var(--color-primary-variant);
}

.slick-prev, .slick-next {
  top: 35%;
}


/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .container.skills__container {
    width: 60%;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .container.skills__container {
    width: var(--container-width-sm);
  }
}

